.project-section {
  width: 900px;
  height: 2000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-top: 10rem;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.project-content {
  width: 1500px;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-48%);
  margin-top: 50px;
  margin-bottom: 20%;
}

.project-list ul {
  display: grid;
  grid-template-columns: repeat(3, 22rem);

  position: relative;
  justify-content: center;
  row-gap: 120px;
}
.project-list ul li {
  list-style: none;
  margin: 0;
}

.project-list img {
  height: 150px;
  width: 180px;
  border-radius: 25px;
}

.container {
  display: table-cell;
  width: auto;
}
.container .card {
  position: relative;
  padding: 20px;
  width: 250px;
  height: 400px;
  box-shadow: rgba(230, 230, 230, 0.56) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.78) 0px 2px 16px 0px;
  border-radius: 25px;
  margin-top: 85px;
  background-color: #00b7c7;
}

.container .card .box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition: 0.5s;
}

.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgb(0, 204, 255);
}

.container .card .box .card-content {
  padding: 20px;
  text-align: center;
}

.container .card .box .card-content h4 {
  font-size: 1.5em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 10px;
}

.container .card .box .card-content p {
  font-size: 1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

@media all and (max-width: 430px) {
  .project-section {
    min-height: 3200px;
  }
  /* PROJECTS  */
  .project-list {
    grid-template-columns: repeat(1, 20%);
  }
}

.project-pin {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 5%;
}

.pin-container {
  position: relative;
  display: flex;
  display: inline-flex;
  width: auto;
  height: auto;
  align-items: center;
}

.pin-image {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 25px;
  z-index: 0;
  transition: all 0.3s ease-out;
}

.pin-image:hover {
  z-index: 999;
}
.pin-image:hover video {
  transform: scaleY(1.2) rotate(-10deg);
}

.pin-image:hover .image {
  transform: scaleY(1.2) rotate(10deg);
}

video {
  margin: 0;
  line-height: 1;
  border: none;
  transition: all 0.3s ease-out;
}

.image {
  margin: 0;
  line-height: 1;
  border: none;
  transition: all 0.3s ease-out;
  width: 400px;
  height: auto;
  border-radius: 20px;
}

.description-container {
  text-align: right;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pin-description {
  padding: 10px;
  background-color: #363636;
  border-radius: 10px;
  z-index: 1;
  top: 100%;
  text-align: left;
  padding: 20px;
  width: 400px;
}

.pin-description p {
  font-size: 14px;
  text-align: right;
  width: auto;
}

.pin-container > div:nth-child(1) {
  transform: translateX(25px);
}
.project-pin ul li:nth-of-type(2) .pin-container .pin-image,
.pin-container > div:nth-child(2) {
  transform: translateX(-25px);
}
.project-pin
  ul
  li:nth-of-type(2)
  .pin-container
  > div:nth-child(1)
  .pin-description
  p,
.project-pin ul li:nth-of-type(2) .pin-container > div:nth-child(1) {
  text-align: left;
  z-index: 2;
}

.project-pin ul li:nth-of-type(2) .pin-container {
  transform: translateY(-70px);
}

.project-tech-list {
  position: relative;
  display: flex;
  height: auto;
}

.project-tech-list .ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.project-tech-list .ul li {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  opacity: 0.4;
  font-style: italic;
  margin: 0px 5px 0px 0px;
}
