.container {
  text-align: left;
}

.label {
  position: absolute;
  font-size: 12px;
  color: #ffffff80;
  font-family: "Inter", sans-serif;
  transform: translate(25px, 30px);
}

.Input {
  padding: 15px 45px 15px 45px;
  font-size: 14px;
  width: 450px;
  height: 30px;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
  border: none;
  background-color: #303030;
  color: #ffffff;
}

.Input:focus {
  outline: none;
  box-shadow: none;
}

.Input.empty {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 100;
}
