@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.skill-section {
  max-width: 100vh;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.skill-content {
  width: 100%;
  max-width: 950px;
  position: relative;
  transform: translateX(20px);
}

.skill-content ul {
  width: 100%;
  max-width: 950px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style-type: disc;
}

.skill-content ul li {
  list-style: none;
  display: list-item;
  margin: 20px 20px 0px 20px;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: center;
  padding: 0px;
  margin: 0px;
  gap: 20px;
}

@media (max-width: 1050px) {
  .skill-content {
    transform: translateX(0px);
  }
  .inner {
    width: 91%;
    left: 20px;
    transform: translateX(0px);
    right: 20px;
  }
}

@media (max-width: 780px) {
  .inner {
    gap: 50px;
  }
}

@media (max-width: 480px) {
  .inner {
    gap: 50px;
  }
}

@media (max-width: 378px) {
  .inner {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 91%;
  }
}

.expereince-container {
  position: relative;
  box-sizing: border-box;
}

.expereince-content {
  background-color: #363636;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tech-list-container {
  position: relative;
  width: 100%;
  background-color: #363636;
  margin-top: 10px;
}

.tech-list {
  width: 100%;
  display: inline-block;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tech-list ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
  margin: 0px;
}

.tech-list ul li {
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
  font-family: "Inter", sans-serif;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

.linkIcon {
  transition: all 250ms ease-in-out;
}

.linkIcon:hover {
  transform: scale(1.1) translateY(-5px);
  transition: all 250ms ease-in-out;
  fill: #2efce9;
}

.graph {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar-container span {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.bar-parent {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #363636;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bar-child {
  height: 5px;
  border-radius: 5px;
}
