@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.skill-section {
  width: 900px;
  height: 850px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.skill-content {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: auto;
  transform: translate(-50px, 50px);
}

.skill-text {
  float: left;
  text-align: left;
}

.inner {
  display: flex;
  height: auto;
  transform: translateX(-13%);
  margin-left: auto;
  margin-right: auto;
  width: 80em;
  margin: 0px auto 50px auto;
}

.expereince-container {
  position: relative;
  width: auto;
  right: 50px;
}

.expereince-content {
  width: 480px;
  height: auto;
  background-color: #363636;
  padding: 20px;
}

.tech-list-container {
  position: relative;
  float: right;
  width: 420px;
  height: auto;
  background-color: #363636;
  margin-top: 10px;
}

.tech-list {
  float: right;
  display: flex;
}

.tech-list ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: right;
}

.tech-list ul li {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-style: italic;
}

.graph {
  position: relative;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  top: -1px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bar-container span {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.bar-parent {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #363636;
}

.bar-child {
  height: 5px;
  border-radius: 5px;
}
