.contact-section {
  width: 50%;
  height: 500px;
  background-color: #1b1b1b;
  /* background-color: rgb(3, 74, 162); */
  color: rgb(255, 255, 255);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 5%;
}

.section-head {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  font: 15px;
  font-family: "Inter", sans-serif;
}

.text-zone {
  margin-top: 50px;
  height: auto;
  width: auto;
  display: flex;
  display: inline-flex;
}

.form-container {
  position: relative;
  width: 100%;
  height: 350px;
  padding-top: 50px;
}

.form-container form {
  position: relative;
  display: flex;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.join {
  display: flex;
}
