@import url("https://fonts.googleapis.com/css2?family=Mitr&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

.home {
  width: auto;
  height: auto;
}
.container {
  position: relative;
  max-width: fit-content;
}

.section-title {
  text-align: left;
  padding-top: 100px;
  font-family: "Mitr", sans-serif;
  font-size: 30px;
  filter: drop-shadow(-2px 5px 3px rgba(0, 0, 0, 0.768));
}

.section-title::after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 1px;
  width: 450px;
  transform: translate(10px, 25px);
  background-color: rgba(255, 255, 255, 0.5);
}

.end-section {
  position: absolute;
  content: "";
  height: 1px;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  right: 0px;
}

@media (max-width: 430px) {
  .end-section,
  .section-title::after {
    width: 150px;
  }

  .container {
    width: auto;
    height: auto;
    left: 25px;
  }
}

.divider {
  display: flex;
  margin: 10px 0;
  width: 0 auto;
  height: 2px;
  background-color: #00b7c7;
}

.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.p {
  width: 100%;
  text-align: left;
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.project-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  filter: drop-shadow(-2px 5px 3px rgba(0, 0, 0, 0.768));
}
