.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background-color: #1b1b1b;
  color: #ffff;
}

.section-title {
  text-align: left;
  padding-top: 100px;
  font-family: "Comic Neue", cursive;
  font-size: 45px;
}

@media all and (max-width: 430px) {
  .section-title,
  .divider,
  .skill-content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
