.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #4d8fa266;
}

body {
  background-color: #1b1b1b;
  color: #ffff;
  transition: all 500ms ease-in;
}

@media all and (max-width: 430px) {
  .section-title,
  .divider,
  .skill-content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
